@import url(../css/common.css);
@import url(../css/nav.css);

.header-wrap {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrap {
  width: 100%;
  height: 100vh;
  background-color: white;
  overflow: scroll;
}
/* 단락 구분선 */
.line {
  background: #aeaeae;
  height: 1px;
  width: 100%;
}
/* 헤더부분 */
/* 상단 테마색상 들어가는 바 영역 */
.theme {
  width: 100%;
  height: 300px;
  background-color: var(--color-theme);
  background-size: cover;
  background-position: center;
}
/* 섹션명 */
.theme-section {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: bottom right;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 300px;
}

/* 콘텐츠부분 */
.article-wrap {
  overflow: scroll;
  margin: 0 auto;
  width: 960px;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 35px;
  opacity: 0;
  padding: 100px 0;
  transition: all 0.5s ease-in-out;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.active {
  opacity: 1;
}

.article-wrap::-webkit-scrollbar {
  display: none;
}
/* 콘텐츠 본문(제목 + 내용) */
.content_article {
  margin-bottom: 160px;
}

/* 콘텐츠용 기본 이미지 프레임 */
.content_image {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: center;
  /* box-shadow: 0px 10px 26px -3px rgba(0, 0, 0, 0.2); */
}

/* 칼럼명 */
.column {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
}
/* 콘텐츠 제목 */
.content_title {
  margin: 30px 0;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 4.5rem;
  color: white;
  margin-bottom: 40px;
}
.weight-regular {
  font-weight: normal !important;
  font-size: 2.5rem !important;
}
/* 콘텐츠 부제목 */
.content_subtitle {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 30px;
  color: white;
  font-weight: 300;
}
/* 기고자 */
.content_writer {
  color: white;
  text-align: center;
  font-size: 16px;
}

/* 리드문 */
.lead,
.second-lead {
  margin: 40px 0 40px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
.lead p,
.second-lead p {
  font-size: 1.2rem;
  margin-bottom: 0 !important;
  line-height: 35px;
  padding: 30px;
  width: 960px;
  background-color: rgba(var(--color-theme-rgba), 0.27);
}

/* 단락 소제목 */
.sub_title {
  position: relative;
  margin-bottom: 40px;
  text-align: center;
}
.sub-title-tag {
  display: inline-block;
  background-color: var(--color-theme);
  color: white;
  font-size: 1rem;
  line-height: 0.2rem;
  height: 20px;
  padding: 20px 20px;
  margin-right: 10px;
  border-radius: 20px;
}
.sub_title h2 {
  display: inline;
  z-index: 2;
  font-size: 25px;
  font-weight: 600;
  box-shadow: inset 0 -15px 0 rgba(var(--color-theme-rgba), 0.27);
}

/* 본문 */
.article-wrap p {
  margin-bottom: 70px;
}

/* 본문 하단 버튼(이전글, 최상단, 다음글)모음 */
#button_wrap {
  display: flex;
  border-top: 1px solid var(--text-color-default);
  border-bottom: 1px solid var(--text-color-default);
}
.content_button {
  width: 230px;
  height: 80px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#btn_next {
  border-left: 1px solid var(--text-color-default);
}
#btn_prev {
  border-right: 1px solid var(--text-color-default);
}

#btn_next a,
#btn_prev a {
  display: flex;
  align-items: center;
  gap: 20px;
}

#btn_top a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content_button svg {
  height: 30px;
}

/* 기타 잡다한 효과들 */
/* 이미지 캡션 */
.caption {
  font-size: 1rem;
  color: #777;
  text-align: left;
  display: inline-block;
  width: 100%;
}

.video-frame {
  text-align: center;
  margin-bottom: 70px;
}

/* 점선 프레임 */
.dot-frame {
  border: 2px dashed #777;
  padding: 40px;
  margin-bottom: 40px;
}

.centered-text {
  text-align: center !important;
}
.colored-box {
  background-color: rgba(var(--color-theme-rgba), 0.17);
  padding: 40px;
}
.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-box-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-align-right {
  text-align: right;
}

.bg-color-white {
  background-color: white;
}

.highlight {
  background-color: var(--color-theme);
  color: white;
  padding: 0 15px;
}

#pop {
  display: none;
  position: absolute;
  left: 0;
  max-width: 600px;
  width: auto;
  height: auto;
  right: 0;
  background-color: white;
  border: 1px solid #777;
  padding: 20px 10px;
}

#pop.active {
  display: block;
  left: 0;
  right: 0;
}

/* 마음을 읽다 결과 */
.result {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 50px;
}

.result-wrap {
  display: flex;
}
.icon-result {
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.result-name {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: none;

  position: absolute;
  z-index: 2;

  justify-content: center;
  align-items: center;
  text-align: center;
}
.result-name h1 {
  opacity: 1 !important;
  color: white;
  font-weight: 700;
  font-size: 1.75rem;
  z-index: 3;
}
.result-name-bg {
  width: 100%;
  height: 100%;
  background-color: #3a3a3a;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
}
.icon-result:hover > .result-name {
  display: flex;
}
.result-popup-container {
  position: fixed;
  _position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 58, 58, 0.139);
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
}
.result-popup-container.open {
  display: flex;
}
.popup-wrap {
  width: 450px;
  height: fit-content;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.popup-wrap .popup-image {
  width: 50%;
  margin-bottom: 20px;
}
.popup-wrap .desc-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.popup-desc {
  margin-bottom: 20px;
}
.popup-close {
  background-color: #b4b4b4;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.comment-box p {
  margin-bottom: 0 !important;
}
.comment-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* 각주용 윗첨자 */
.superscript {
  color: var(--color-theme);
  font-size: 0.9rem;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}
.circle-frame {
  width: 218px;
  height: 218px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
.circle-frame img {
  height: 100%;
}
.box-text {
  text-align: center;
  color: #3a3a3a;
}
.box-text-title {
  font-size: 1.1rem;
  text-align: justify;
}
.box-text-article {
  font-size: 0.9rem;
  text-align: justify;
  margin-bottom: 0 !important;
}
.quiz-section {
  margin-bottom: 80px;
}
.hint-box {
  display: block;
  border-radius: 8vh;
  height: auto;
  width: fit-content;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: var(--color-theme);
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px;
  border: 2px solid var(--color-theme);
  transition: all 0.35s ease-in-out;
}
.hint-box:hover,
.btn-quiz:hover {
  color: var(--color-theme);
  background-color: white;
}

.quiz-image {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 20px;
}
.caption-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-article {
  background-color: var(--color-theme);
  display: block;
  width: fit-content;
  line-height: 50px;
  padding: 0 20px;
  text-align: center;
  border-radius: 40px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 50px;

  border: 2px solid var(--color-theme);
  transition: all 0.35s ease-in-out;
}
.btn-article:hover {
  background-color: white;
  color: var(--color-theme);
}

/* 단 나누기 */
/* 1:1 */
.half-pic-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.triple-pic-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.half-text-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 70px;
}

.half-text-box p,
.half-text-box .content_image {
  margin-bottom: 0;
}
.half-text-box img {
  width: 100%;
}

/* 1:2 */
.third-text-box {
  display: grid;
  grid-template-columns: 1.25fr 1.75fr;
  gap: 60px;
  align-items: start;
}
.third-text-box img {
  width: 100%;
}
/* 2:1 */
.third-text-box-reverse {
  align-items: center;

  display: grid;
  grid-template-columns: 1.75fr 1.25fr;
  gap: 60px;
}
.forth-text-box {
  display: grid;
  grid-template-columns: 1.05fr 1.95fr;
  gap: 60px;
}
.forth-text-box-reverse {
  display: grid;
  grid-template-columns: 1.95fr 1.05fr;
  gap: 60px;
}
.cover-text-box {
  position: relative;
}
.deco-text-box {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-40%);
}
.deco-text-box p {
  font-size: 32px;
  font-family: "Cafe24Shiningstar", serif !important;
  line-height: 1.8em;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  color: #3a3a3a;
  /* text-shadow: -2px 0 #8f795e, 0 2px #8f795e, 2px 0 #8f795e, 0 -2px #8f795e; */
}

/*  이번달에만 넣는 거 */
.inner-white-box {
  background-color: white;
  padding: 50px 20px;
}
.flex-text-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.flex-text-box .content-image {
  flex: 1;
}

.flex-text-box p {
  flex: 1;
}

/* 반응형 태블릿 */
@media all and (max-width: 1024px) {
  .magazine-list {
    width: 100%;
    padding: 40px;
  }
  .content_wrap {
    width: 100%;
    padding: 100px 40px;
  }
  .content_title {
    font-size: 1.5rem;
  }
  .content_subtitle {
    font-size: 1.25rem;
  }
  .caption {
    font-size: 0.6rem;
  }
  .sub_title h2 {
    font-size: 22px;
  }
  #side_menu_wrap {
    display: none;
  }
  #button_wrap {
    width: 100%;
    justify-content: center;
  }
  #btn_top {
    margin: 0 10px;
  }
  .content_button {
    flex: 1;
  }
  .theme-section {
    width: auto;
    background-size: calc(100% - 65%);
  }
  .grid-box {
    display: block;
  }
  .box-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 반응형 모바일 */
@media all and (max-width: 768px) {
  .article-wrap {
    width: 100%;
    padding: 20px;
  }
  .content_wrap {
    font-size: 1rem;
    padding: 100px 10px;
  }
  .readers-content-title {
    font-size: 1.7rem;
  }
  #btn-carwebsite {
    font-size: 0.7rem;
    line-height: 30px;
  }
  .magazine-tools {
    width: 100%;
    flex-direction: row;
  }
  .readers-writer,
  .readers-lead {
    font-size: 0.8rem;
  }
  .magazine-cover-big {
    width: 200px;
    height: fit-content;
  }
  #toast-box {
    width: 80%;
    text-align: center;
  }
  #toast-box > span {
    font-size: 0.7rem;
  }
  .container {
    padding-top: 70px;
  }
  .grid-box {
    width: 100%;
  }
  .lead {
    padding: 15px;
  }
  .theme-section {
    font-size: 2rem;
  }
  .magazine-cover-big img {
    width: 100%;
  }
  .magazine-cover-small {
    width: 90px;
    height: 121px;
  }
  .category {
    font-size: 1rem;
  }
  .content_title {
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .magazine-tool-btn {
    border-color: var(--color-theme);
    flex: 1;
    color: var(--color-theme);
    background-color: white;
    font-weight: 600;
  }
  .magazine-thumb-wrap {
    flex-direction: column;
  }
  .btn-subbuttons {
    padding: 02px 20px;
    font-size: 0.6rem;
  }
  .sub_title {
    margin-bottom: 15px;
  }
  .sub_title h2 {
    font-size: 17px;
  }
  .content_image {
    margin-bottom: 25px;
  }
  .article-wrap p {
    font-size: 0.8rem;
    margin-bottom: 50px;
    line-height: 1.5rem;
  }
  .tip-list-item {
    font-size: 0.8rem;
  }
  .item-text {
    font-size: 0.9rem;
  }
  .caption {
    display: inline-block;
    line-height: 1rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }
  .grid-item {
    width: 100%;
  }
  .half-text-box {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: none;
    gap: 20px;
  }
  .half-text-box.reverse .img-frame {
    grid-row: 1;
  }
  .half-text-box.mb80 {
    margin-bottom: 60px !important;
  }

  .third-text-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .third-text-box-reverse {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .deco-text-box {
    position: relative;
    top: 0;
    transform: translateX(0);
  }

  .forth-text-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .forth-text-box-reverse {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .forth-text-box-reverse.mb80 {
    margin-bottom: 0 !important;
  }
  .flex-text-box {
    flex-direction: column;
  }
  .box-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .lead p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .column {
    font-weight: 400;
    font-size: 0.8rem;
  }
  .result {
    display: flex;
    flex-direction: column;
  }
  .video-frame iframe {
    width: 100% !important;
  }
  .content_writer {
    padding: 0 20px;
  }
  .content_title {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0 20px;
  }
  .content_subtitle {
    font-size: 1rem;
  }
  .article-box p {
    width: 100%;
  }
  .header-container {
    width: 100%;
  }
  .readers-message-grid {
    display: flex;
    flex-direction: column;
  }
  .reader-name {
    font-size: 1.25rem;
  }
  .plr-50 {
    padding-left: 0;
    padding-right: 0;
  }
  .comment-box {
    display: flex;
    flex-direction: column;
  }
  .comment-icon {
    flex-direction: row;
    gap: 10px;
  }
  .comment-icon img {
    width: 40px;
  }
  .g0 {
    gap: 0 !important;
  }
  .quiz-options p {
    font-size: 0.8rem !important;
  }
  .dot-frame {
    padding: 20px;
    width: 100%;
  }
  .colored-box {
    padding: 20px;
  }
  .circle-frame {
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
  }
  .readers_header {
    padding: 0 40px;
  }
  .winner-list {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 10px;
    font-size: 0.9rem !important;
  }
  .quiz-box {
    flex-direction: column;
    gap: 10px;
  }
  .quiz-box .sub_title {
    margin-bottom: 0 !important;
  }
  .quiz-box h3 {
    margin-bottom: 20px;
  }
  .hint-box {
    font-size: 1rem;
  }
  .thumb-pagenation {
    transform: translateY(-100%);
  }
  #btn-review {
    margin-bottom: 10px;
  }
  #btn-unsubscribe {
    margin-bottom: 40px;
  }
  .half-text-box {
    margin-bottom: 40px;
  }
  .caption-text-box {
    flex-direction: column-reverse;
  }
  .caption-text-box p {
    margin-bottom: 0;
  }
  .caption-text-box .caption {
    margin-bottom: 40px;
  }
}

/* 기타 해상도별 세부조정 필요한 것들 */
@media all and (max-width: 1440px) {
  #side_menu_wrap {
    display: none;
  }
  #side-to-bottom {
    display: block;
    margin-top: 15px;
  }
  #side-to-bottom > #side_menu {
    flex-direction: row;
    height: auto;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
  }
  #side-to-bottom > #side_menu li {
    display: flex;
    justify-content: center;
  }
  #btn_top_circle {
    display: block;
  }
}

@media all and (max-width: 640px) {
  .content_button span {
    display: none;
  }
}
